<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">
  <div class="py-5 text-center">
    <h2>비밀번호찾기 결과</h2>
  </div>
  <h4 class="mb-3" th:text="|찾으신아이디: ${findMember.getPassword()}|">찾던 비밀번호</h4>
  <div class="col">
    <button class="w-100 btn btn-dark btn-lg"
            onclick="location.href='home.html'"
            th:onclick="|location.href='@{/}'|" type="button">
      돌아가기
    </button>
  </div>
</div>
<hr class="my-4">
<!-- /container -->
</body>
</html>